body{
    font-family: 'Noto Sans', sans-serif;
}

h3{
    text-align: center;
    padding: 23px;
    color: white;
    background-color: black;
    letter-spacing: 3px;
}

.container{
    width: 100%;
    margin-bottom: 80px;
    float: left;
}

#buttons{
    width: 45%;
    padding: 10px;
    float: left;
}

#GIFArea{
    float: left;
}

.btun{
    margin: 6px;
    background-color: black;
    color: white;
    padding: 6px;
    font-size: 15px;
}
.btun:hover{
    background: darkgrey;
}

#submit{
    background-color: darkred;
    color: white;
}

.gifydiv{
    float: left;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.instruc{
    margin-left: 20px;
}